@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap&display=swap');

body{
  padding:0;
  margin: 0;
  font-family: "IBM Plex Sans";
  color:#112;
}

.runner {
  width: 100%;
  background:linear-gradient(to right, rgb(133, 42, 185), rgb(49, 52, 159));
  height:.25rem;
}

.navigation{
  border-bottom: 1px solid #ccc;
}

.navigation > nav {
  width:80%;
  min-height: 5em;
  margin: auto;
  display: flex;
}

.navigation > nav > .left-side {
  height: 80%;
  margin: auto 0;
  flex:1;
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
}

.navigation > nav > .left-side > .logo {
  height: 4em;
}


.navigation > nav > .left-side > .logo > a{
 display: block;
 height: 100%;
}

.navigation > nav > .left-side > .logo > a > img{
  height: 100%;
  box-sizing: border-box;
}

.navigation > nav > .left-side > ul{
  list-style-type: none;
  display: flex;
  margin: auto 0;
  padding: 0;
}

.navigation > nav > .left-side > ul > li{
  padding: 1em 0em;
  padding-left: 2em;
  margin: auto 0;
}

.navigation > nav > .left-side > ul > li > a{
  text-decoration: none;
  color:inherit;
}

.navigation > nav > .right-side {
  margin: auto 0;
}

.navigation > nav > .right-side > ul{
  list-style-type: none;
  display: flex;
  margin: auto 0;
  padding: 0;
}

.navigation > nav > .right-side > ul > li > a > svg{
  font-size: 2em;
  color: #112;
}

.content {
  flex:1;
  width:80%;
  margin: auto;
}

.content-fw {
  flex:1;
  width:100%;
  margin: auto;
}

.jumbo {
  display: flex;
  flex-flow: row wrap;
  min-height:15em;
  width:100%;
  background: linear-gradient(to right, rgb(133, 42, 185), rgb(49, 52, 159));
  color:white;
  font-size: 2em;
  font-family: "Noto Serif Display";
  font-weight: 300;
}

.jumbo > h1 {
  margin:auto;
  padding:1em;
  font-weight: inherit;
  font-style: inherit;

}

.jumbo > p {
  padding:1em;
  margin: auto auto 1em auto;
}

.jumbo > p > a:hover {
  color: white;
}

.jumbo > p > a {
  color: white;
}

.sidebyside {
  display: flex; 
  flex-flow: row wrap;
  min-height: 25em;
}

.sidebyside > .text {
  padding:2em;
  background-color: white;
}

.sidebyside > .text > h2 {
}

.sidebyside > .img > img {
  width:100%;
  height:100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.sidebyside > div {
  flex:1;
  min-width: 20rem;
}

.dark-row {
  background-color: #223;
  color:white;
  padding:2em;
  margin-bottom: -2rem;
  width: 100%;
}

.dark-row a{
  color:white;
}

.dark-row li h3 {
  margin-bottom:0px;
}

.officer {
  width:10em;
  text-align: center;
  display: inline-block;
  vertical-align: top;  
}

.officer > img {
  padding:1em;
  width:100%;
  box-sizing: border-box;
  border-radius: 5em;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.officer > ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.footer {
  max-height:5em;
  display: flex;
  margin-top: 2em;
  border-top:1px solid #222;
  background-color: #112;
}

.footer > p {
  margin:auto auto;
  padding: 1em;
  color:white;
  display: block;
}

.App {
  height:100vh;
  display: flex;
  flex-flow:column nowrap;
}

.ffbg {
  background-image: url("./assets/Qiskit_Fall-Fest_Wallpaper-02.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(35,39,43);
  background-position: center;
}

.ffbg h1 {
  background-color: #222a;
  padding:.5em;
}

.ffbg img {
  height:4em;
}

@media screen and (max-width:700px) {
  .navigation > nav > .left-side > .logo > a > img{
    height: 100%;
    padding: .5em 0;
    box-sizing: border-box;
  }
  .navigation > nav > .left-side {
    height: 80%;
    margin: auto 0;
    flex:1;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .jumbo {
    color:white;
    font-size: 1.5em;
  }
}